/* @import url('https://fonts.googleapis.com/css?family=Comfortaa|Righteous&display=swap'); */
body {
  /* padding: 50px; */
  font-family: 'montserratregular';
  font-size: 12px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-attachment: fixed;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, .card-text, a, .modal {
  font-family: 'comfortaaregular';
  font-size: 14px;
}

.myfonts {
  font-family: 'comfortaaregular';
}

.navbar {
  /* background-color: #F1C40F; */
  background: linear-gradient(to top, #ffb347, #ffcc33);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}

.nav-item {
  color: white;
  font-weight: 700;
  border-bottom: 4px solid transparent;
}

.nav-item:hover {
  color: white;
  border-bottom: 4px solid #fdfbfb;
}

.active {
  color: white;
  font-weight: 700;
  border: none;
  border-bottom: 4px solid #fdfbfb;
}

.author-cards {
  background: #F4D03F;
  color: black;
  border-radius: 12px;
  transition: 0.10s ease-out;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /* transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 1.4, 1, 1);
  transform: translate3d(0, 0, 0); */
}

.author-cards:hover {
  transform: translate(0, -2px);
  /* transform: translateY(-5%);
  transition: 0.10s ease-in; */
}

a {
  color: #00B7FF;
}

.block {
  padding: 50px;
}

.brand-text {
  font-family: 'righteousregular';
}

.card-myheader {
  padding: 20px 0 0 20px;
  /* background-color: #F1C40F; */
}

.card-myfooter {
  padding: 10px 0px 0px 20px;
  /* background-color: #F9E79F; */
}

.likes-footer {
  padding: 5px 0 0 5px;
  background-color: #D4AC0D;
  width: 120px;
  height: 35px;
  border-radius: 10px;
}

.like-btn {
  font-size: 12px;
  height: 25px;
  border-radius: 5px;
  background-color: #F8F9F9;
  border: none;
  color: #17202A;
}

.like-btn-active{
  font-size: 12px;
  height: 25px;
  border-radius: 5px;
  background-color: #1D8348;
  border: none;
  color: #F7F9F9;
}

.like-btn-text{
  font-size: 12px;
  line-height: 15px;
}

.user-image {
  border-radius: 25px;
  /* cursor: pointer; */
}

.user-text {
  font-family: 'montserratregular';
  font-size: 13px;
  color: black;
  font-weight: bolder;
}

.user-container {
  padding: 10px;
  background-color: #D4AC0D;
  border-radius: 12px;
  cursor: pointer;
}

.login-container {
  margin-top: 5%;
}

.my-form {
  border-radius: 18px;
}

.text-btn {
  cursor: pointer;
  padding: 10px;
  transition: .20s ease-out;
}

.text-btn:hover {
  background-color: #ddd;
  border-radius: 8px;
  color: black;
  transition: .20s ease-in;
}

.card-options {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #F1C40F;
  border-radius: 5px;
}

.card-option-btn:hover {
  background-color: #ddd;
  border-radius: 5px;
  transition: .20s ease-in;
}

.card-options:hover .show-on-hover {
  visibility: visible;
  opacity: 1;
  transition: .20s ease-in;
}

.show-on-hover {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  transition: .20s ease-out;
}

.card-option-values {
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 5px;
  color: black;
  position: absolute;
  z-index: 1;
  top: 36px;
  right: 0;
}

.card-option-values ul {
  list-style-type: none;
  margin: 0 auto;
}

.card-option-values li {
  width: 80px;
  margin-left: -40px;
  text-align: left;
}

.btn-delete {
  color: #F1948A;
}

.btn-edit:hover {
  border-radius: 3px;
  color: white;
  background-color: #85C1E9;
  transition: .10s ease;
  cursor: pointer;
}

.btn-delete:hover {
  border-radius: 3px;
  color: white;
  background-color: #F1948A;
  transition: .10s ease;
  cursor: pointer;
}