doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel="icon" href="/img/store.svg", type="image/svg" sizes="16x16")
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel="stylesheet", href="/fonts/fonts.css")
      //- link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
      link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
      link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
      //- link(rel='stylesheet', href='fontawesome/css/fontawesome.min.css')      
      
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(src="js/script.js")

  body
    .col-md-12.row.login-container.myfonts
      .col-md-6.login-img
        .my-login-image.col-md-8.offset-md-3.d-md-block.d-none
          img(src="/img/login.svg", alt="loginImage", height='350px')
      .col-md-6.login-form
        form(method="post").my-form.p-4.col-md-6.col-lg-7.offset-md-1.shadow.mt-3.bg-light
          h3 Login Here!
          .form-group.col-md-9.mt-4
            label(for='exampleInputEmail1') User Name
            input#login-username.form-control(type='text' placeholder='Username', name="username")
          .form-group.col-md-9
            label(for='exampleInputPassword1') Password
            input#login-password.form-control(type='password' placeholder='Password', name="password")
          button.btn.btn-warning.ml-3(type='submit') Submit
          p.ml-3.mt-3.text-muted Create an account  
            span.text-btn.text-danger(onclick="location.href='/register'") Register   



  
