extends layout

block content	
	.container
		.col-12.p-5.myfonts
			h1.text-center Contact Us
			.col-12.row
				.col-md-6.mt-2
					label.col-form-label(for="name") Name
					input.form-control.border-basic(type="name", name="name")
					label.col-form-label(for="email") Email
					input.form-control.border-basic(type="email", name="email")
					label.col-form-label(for="message") Message
					textarea.form-control.border-basic(name="message", rows="5")
					button.btn.btn-success.mt-3(type="submit") Submit
				.col-6.p-5.d-none.d-md-block
					img(src="/img/contacty.svg", alt="contact", height="270px")
